$font_1: 'Lato-Black', sans-serif;
$font_2: 'Lato-Bold', sans-serif;
$font_3: 'Lato-Light', sans-serif;
$font_4: 'Lato-Regular', sans-serif;
$font_5: 'Lato-Semibold', sans-serif;
$font_6: 'Lobster', sans-serif;
$font_7: 'Open-Sans', sans-serif;

$color_1: #4bcaff;
$color_2: #ffffff;
$color_3: rgba(0,203,255, 0.4);
$color_4: #00C8DB;

$bg_color: rgba(0,0,0, 0.4);
$bg_color_2: #3F3E40;

$bg-color-3:#eee;
$bg-color-4:#2c3e50;

$button-color-1:  #27Ae60;
$button-color-2: #239D56;
$button-color-3:  #36c773;
$button-color-4: #31b367;